# Dependências
node_modules/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Certificados locais
*.pem
*.key
*.crt
